<!-- For test purposes only. To show all the articles currently posted to the db -->
<ul>
  <% @article.each do |article| %>
    <li><%= article.headline %></li>
    <li><%= article.url %></li>
    <li><%= article.lead_paragraph %></li>
  <% end %>
</ul>