<!-- Show a particular user's 'liked' articles as a list of hyperlinked headlines -->
<!-- path => user_path(current_user) -->

<h1><%= @user.email %></h1>
<h3>Saved Articles</h3>
<ul>
  <% @user.articles.each do |article| %>
    <li><a href="<%= article.url %>"><%= article.headline %></li>
  <% end %>
</ul>