<!-- Home search form that allows a logged-in user to query the NYTIMES search api by a given date -->
<h1>Live From New York it's...</h1>

<form action="<%=articles_path%>" method="get">
  <input type="text" name="date" placeholder="Date: YYYYMMDD">
  <button id="submit">submit</button>
</form>

<!-- Allow the user to log out -->
<form action="<%=destroy_user_session_path%>" method="post">
  <input type="hidden" name='_method' value='delete'>
  <button>Log out</button>
</form>

<!-- Provide link to User's personalize page -->
<a href="<%=user_path(current_user)%>">USER SHOW PAGE</a>

