<!-- Query NYTIMES_SEARCH API by a given date -->
<h1>Live From New York it's...</h1>

<form action="<%=articles_path%>" method="get">
  <input type="text" name="date" placeholder="MM/DD/YYYY">
  <button id="submit">submit</button>
</form>

<!-- Log out current user-->
<form action="<%=destroy_user_session_path%>" method="post">
  <input type="hidden" name='_method' value='delete'>
  <button>Log out</button>
</form>

<!-- Link to current user's personalize page -->
<a href="<%=user_path(current_user)%>">USER SHOW PAGE</a>

