<!-- Event search form that allows a logged-in user to query the NYTIMES Event API by a given date -->
<h1>SEARCH EVENTS: New York</h1>

<form action="<%=events_path%>" method="get">
  <input type="text" name="date" placeholder="Date: YYYYMMDD">
  <button id="submit">submit</button>
</form>

<!-- Allow the user to log out -->
<form action="<%=destroy_user_session_path%>" method="post">
  <input type="hidden" name='_method' value='delete'>
  <button>Log out</button>
</form>