/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 5px;
  background-image: url('/images/nyc_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: futura; 
}
.navbar {
  background-color: rgba(0, 0, 0, .85);
}
.jumbotron {
  background-color: rgba(255, 255, 255, .9);
}

#main_search {
  margin-top: 170px;
  background-color: rgba(255, 255, 255, .9);
}

#main_search h1 {
  font-family: futura;
}

#user_profile {
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

#user_profile td, a {
  font-size: 20px;
}

#user_profile h2 {
  font-family: futura;
}

#articles_table {
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

#table_header {
  padding-bottom: 15px;
  padding-top: .5px;
}
#log_out {
  margin: 6px 15px 0 0;
  float: right;
}
.devise_form {
  background-color: rgba(255, 255, 255, .9);
  padding: 30px;
  border-radius: 20px;
  margin-top: 135px;
  font-family: futura;
  position: relative;
  display: inline-block;
}

.devise_form #edit {
  margin-bottom: 30px;
}

.devise_form h2, .devise_form h3 {
  font-family: futura;
}
.welcome_name {
  font-family: futura;
  font-size: 6em;
  display: inline-block;
  float: right;
  margin-top: 110px;
  margin-right: px;
  position: relative;
}
#devise_alert {

}